.card {
  width: 80vw;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  margin: 1vw;
  cursor: pointer;
  transition: transform 0.2s;
  box-shadow: 6px 6px 0px black;
}

.card:hover {
  transform: translateY(-1vh);
}

dl {
  padding: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

dt {
  margin-top: 1rem;
  font-size: .9rem;
  line-height: 1;
}

dd {
  font-size: 1.4rem;
  text-transform: capitalize;
  margin-left: -100%;
  margin-right: -100%;
  text-align: center;
}

@media (min-width: 1000px) {
  .card {
    width: 40vw;
  }
}

@media (min-width: 1600px) {
  .card {
    width: 25vw;
  }
}